#homeInfo{
    text-align: center;
}
#homeInfo p{
    color: rgb(77, 206, 77);
    font-size: 18px;
}
.displayCount{
    display: flex;
    justify-content: center;
}
.numDisplay{
    width: 35px;
    height: 45px;
    background-color: rgba(77, 206, 77, 0.8);
    color: white;
    text-align: center;
    padding-top: 12px;
    font-size: 30px;
    margin: 2px;
    border-radius: 4px;
    border: 1px rgb(223, 223, 223) solid;
}

#notif{
    background-color: #3a4750;
    margin: 0 20px;
    padding: 15px;
    border: 2px white solid;
}